@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    background-color: #19A1AE;
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
}

.first-circle{
    width: 50%;
    height: 30rem;
    position: absolute;
}

.second-circle{
    width: 60vw;
    height: 80vw;
    position: absolute;
    top: 60%;
    left: 35%;
    opacity: 0.4;
}

.container{
    position: absolute;
    background: #FFFFFF;
    width: 40vh;
    height: 37.4rem;
    top: 50vw;
    left: 9vw;
    border-radius: 1.5rem;
    position: absolute;
}

.bolhas{
    width: 40vh;
    position: absolute;
}

.perfil{
    position: absolute;
    top: 10vh;
    left: 13.5vh;
}

.info{
    position: absolute;
    text-align: center;
    line-height: 2.2rem;
    top: 26vh;
    left: 12vh;
}

.info h1{
    font-weight: 700;
    color: #2E3349;
    font-size: 1.8rem;
}

.info span{
    color: #6B7082;
    font-weight: 400;
    font-size: 1.8rem;
}

.info p{
    color: #6B7082;
    font-weight: 400;
    font-size: 1.4rem;
}

.media-info{
    position: absolute;
    display: flex;
    top: 35vh;
    border-top: 1px solid #E8E9EC;
    width: 40vh;
    text-align: center;
    justify-content: space-around;
}

.media-info h3{
    color: #2E3349;
    font-weight: 700;
    font-size: 1.8rem;
}

.media-info p{
    color: #6B7082;
    font-size: 1rem;
    letter-spacing: 1.5px;
}

.follow, .likes, .photo{
    padding-top: 2.4rem;
}

@media screen and (min-width: 412px){
    .media-info{
        top: 32vh;
    }
}

@media screen and (max-height: 736px){
    .container{
        left: 12vw;
    }
    .media-info{
        top: 35vh;
    }
}

@media screen and (min-width: 768px){
    .container{
        left: 22vw;
        height: 50rem;
        border-radius: 2.3rem;
    }

    .perfil{
        top: 12vh;
        left: 15vh;
    }

    .info{
        top: 26vh;
        left: 14vh;
    }
}

@media screen and (min-width: 1024px){
   .container{
       height: 55rem;
   } 

   .perfil{
       top: 14vh;
       left: 17vh;
   }
   
   .info{
       left: 16vh;
   }
}

@media screen and (min-width: 1280px){
    .container{
        top: 15vw;
        left: 35vw;
        width: 45vh;
        height: 40rem;
    }

    .second-circle{
        top: 58%;
        height: 30vw;
        left: 38%;
    }

    .bolhas{
        width: 45vh;
    }

    .info{
        top: 32vh;
    }

    .media-info{
        width: 45vh;
        margin-top: 5rem;
    }

    .follow, .likes, .photo{
        padding-top: 5rem;
    }
    
}


